<!DOCTYPE html>
<html>
<head>
    <title>Trading Diary - Add</title>
    <meta charset="utf-8">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
</head>
<body>
    <div style="font-family: 'Gaegu'; background-image: url('https://image.freepik.com/free-vector/beautiful-rainbow-sky-with-green-meadow-mountain-nature_7081-1267.jpg'); background-size: contain">
        <div id = "top-left" style="width:100%; border:2px solid black">
            <h1><a href="/main">Main</a></h1>
        </div>
        <div>
            <h2>Add New Trading Log</h2>
            <form action="/create" method="post">
                <p><input type="text" name="title" placeholder="title"></p>
                <p><textarea name="desc" placeholder="description"></textarea></p>
                <button style="font-size:22px" type="submit">Write</button>
            </form>
            {0}
        </div>
    </div>
</body>
</html>