<html>
    <head>
        <title>Trading Diary - Login</title>
        <meta charset="utf-8">
        <!-- External CSS -->
        <link href="https://fwa100.jam3.com/static/css/6.24bf1742.chunk.css" rel="stylesheet">
        <link href="https://fwa100.jam3.com/static/css/main.e6de9922.chunk.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">
    </head>
    <body>
        <div style="font-family: 'Gaegu'; background-image: url('https://image.freepik.com/free-vector/beautiful-rainbow-sky-with-green-meadow-mountain-nature_7081-1267.jpg'); background-size: contain">
            <h2 style="color : black; font-size:22px">Login을 해주세요</h2>
            <br>
            <div style="color:black">
                {0}
            </div>
            <!-- form을 이용한 POST -->
            <form action="/" method="post">
                <p><input type = "text" name = "id" placeholder = "userid"></p>
                <p><input type = "password" name = "pw" placeholder = "password"></p>
                <button style="border:1px" type = "submit">Login하기</button>
            </form>
        </div>
    </body>
</html>