<!DOCTYPE html>
<html>
<head>
    <title>{0}</title>
    <meta charset="utf-8">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap" rel="stylesheet">

</head>
<body>
    <div style="font-family: 'Gaegu'; background-image: url('https://image.freepik.com/free-vector/beautiful-rainbow-sky-with-green-meadow-mountain-nature_7081-1267.jpg'); background-size: contain">
        <div id = "top-left" style="width:100%; border:2px solid black; text-align: center">
            <h1><a href="/main">Main</a></h1>
        </div>
        <div id = "content-box">
            <div id = "left" style="width:150px; float:left">
                <h3>주요 사이트</h3>
                <ol>
                    <li><a style="font-size:18px" href="https://finance.naver.com" target="_blank">네이버 금융</a></li>
                    <li><a style="font-size:18px" href="https://finance.daum.net" target="_blank">다음 금융</a></li>                    
                </ol>
            </div>
            <div id = "right" style="display:inline-block; text-align: center">
                <h2>{1}</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/7tLwmmEEDZk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</body>
</html>